/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#logo { 
          float: left;
          margin-left: 30px;
          padding-top: 55px;
}


#menu ul { 
          padding: 0; 
          margin: 0; 
          color: #58585B;
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          display: inline-block; 
          padding: 0px 25px; 
          height: 60px;
          line-height: 60px; 
          text-align: center;
          text-decoration: none;
          letter-spacing: 0px; 
          padding-top: 100px;
}

header {
          z-index: 1;
          text-align: center;

          position: fixed; 
          margin-top: -25px;
          width: 100%; 
          height: 155px; 
          background-color: #D1D2D4;
}

header ul{
	       float: right;
          padding: 0;
          margin: 0;
	}

header ul li{
          display: inline;
          float: left;
          margin-right: 30px;
}

p {
  				font-family: 'Lato', sans-serif;
  				font-size: 1em;
  				color: #58585B
}

#products-pagination {
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          color: #58585B
}


h1, h2, h3, h4 {
  				font-family: 'Lato', sans-serif;
  				color: #58585B
}


.field {
  				font-family: 'Lato', sans-serif;
  				font-size: 1em;
  				color: #58585B
}

.label {
  				font-family: 'Lato', sans-serif;
  				font-size: 1em;
  				color: #58585B
}

.actions{
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          color: #58585B
}

#status { 
          position: static;
          bottom: 0;
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          color: #58585B;
          float: right;
          margin-right: 24px;
/*          margin-top: 0%;*/
}

#container {
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          color: #58585B;
          text-align: centre;
          position: static; 
          padding-bottom: 10px;
          padding-top: 75px;
/*          margin-top: 75px;*/
}

/*#footer {
          position: static;
          padding-top: 25px;
          font-family: 'Lato', sans-serif;
          font-size: 1em;
          color: #58585B;
          float: right;
          margin-right: 24px;
   
}*/










