// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.field {
				font-family: 'Lato', sans-serif;
				font-size: 1em;
				color: #58585B
}


.float {
				
				display: inline-block; 
				padding: 25px;
}

.float p {
		   text-align: center;
		   marging-top: -5px;

		   }


#body {
          text-align: centre;
          position: absolute; 
          padding: 25px;

}