<h1>Product Index</h1>
<p></p>

<%= link_to 'New Product', "/products/new" %>


	<%- @products.each do |product| %>
  <p><%= product[:name] %>, <%= product[:description] %>
  <%= product.formatted_price %></p>
<% end %>